@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./utils/variables";
@import "./components/button";
@import "./components/form";
@import "./components/datatable";
@import "./components/modal";

// MAIN ELEMENTS
* {
  box-sizing: border-box;
}

* a {
  text-decoration: none;
  color: $green;
}

body {
  background: $green;
}

#root {
  font-family: $roboto;
  color: $black;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
}

//FONTS
.kalnia {
  font-family: $kalnia;
}

// COLORS
.bg-green-light {
  background: $green-light;
}

.text-green {
  color: $green-light;
}

.bg-green {
  background: $green;
}

// WIDTH
.w-48 {
  width: 48%;
}

.header__img {
  width: 73px;
  height: 71px;
}
