@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@import "./utils/variables";
@import "./components/button";

// MAIN ELEMENTS
* {
  box-sizing: border-box;
}

* a {
  text-decoration: none;
  color: $green;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  font-family: $roboto;
  color: $black;
  background: $green;
}

//FONTS
.kalnia {
  font-family: $kalnia;
}

// COLORS
.bg-green-light {
  background: $green-light;
}

.bg-green {
  background: $green;
}
