.button {
  border: 1px solid $white;
  border-radius: 2rem;
  &__link {
    display: flex;
    align-items: center;
    padding: 0.5rem 1rem;
  }
  &__text {
    color: $white;
    font-weight: 500;
  }
  &:hover {
    background: $white;
    transition: 0.2s linear;
  }
  &:hover .button__text {
    color: $green;
    transition: 0.2s linear;
  }
}

// BREAKPOINT PHONE HEADER
@media screen and (max-width: 1024px) {
  .button {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    &__link {
      text-transform: uppercase;
      margin-left: 0;
    }
  }
}
