.p-sortable-column {
  color: $green;
  background-color: $green-light;
  font-size: 0.9rem;
  font-weight: 400;
  padding: 1.2rem 0.5rem;
  &-icon {
    color: $green;
  }
  &:hover {
    box-shadow: inset 0 0 0 0.1rem $green;
  }
}

.p-datatable-tbody {
  font-size: 0.9rem;
  font-weight: 300;
  color: $green;
}

.p-paginator-element {
  color: $green;
}
