.m-modal-header__button {
  color: $green;
  &:hover {
    rotate: 180deg;
    transition: 0.2s linear;
  }
}

.m-modal-footer__button {
  background-color: $green;
  &:hover {
    background-color: $green-light;
    color: $green;
    transition: 0.2s linear;
  }
}

/** KEYFRAME ANIMATION **/
@keyframes modalopen {
  from {
    opacity: 0;
    transform: translateY(-50px);
  }
  to {
    opacity: 1;
  }
}
