@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kalnia:wght@600&display=swap");

//COLORS
$white: #ffffff;
$grey: #f6f6f6;
$grey-dark: #757575;
$black: #000000;
$green: #002b15;
$green-light: #e6efc8;
$green-dark: #b4c288;
$transparent: transparent;

//GRADIENTS
$gradient-green: linear-gradient($green, $black);
$gradient-black: linear-gradient($transparent, $black);

//FONTS
$roboto: "Roboto", sans-serif;
$kalnia: "Kalnia", serif;
